<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= log.title %></h2>
      <img class="img-fluid" src="<%= log.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/log/likeLog/<%= log.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= log.likes %></h3>
        <%if(log.user == user.id){ %>
        <form
          action="/log/deletePost/<%= log.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= log.caption %></p>
    </div>

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/dashboard">Return to Dashboard</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
