<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h1>Past Daily Stats</h1>
      <ul>
        <!-- beginning of loop -->
        <% for(const log of logs) {%>
          <li class="col-6 justify-content-between mt-5">
              <div>
                <span><%= log.date %></span>
                <span><%= log.habit.icon %></span>
                <span><%= log.habit.habit %></span>
                <span><%= log.habit.progress %></span>
                <span><%= log.habit.unit %></span>
              </div>
            </li>
            <% } %>
      </ul>
      <!-- end of loop -->

      <!-- delete button form -->
        
        <%if(log.user == user.id){ %>
        <form
          action="/log/deletePost/<%= log.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <!-- end delete button form -->

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/dashboard">Return to Dashboard</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
